<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
  <packageSourceCredentials>
    <nuget.org>
      <add key="Username" value="sofia890" />
      <add key="ClearTextPassword" value="your-api-key-here" />
    </nuget.org>
  </packageSourceCredentials>
</configuration>